<div class="row justify-content-center">
  <div class="col-8">
    <form
      name="editForm"
      role="form"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="editForm"
    >
      <h2
        id="jhi-interface-integracao-heading"
        data-cy="InterfaceIntegracaoCreateUpdateHeading"
      >
        Create or edit a Interface Integracao
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input
            type="number"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="true"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomeintegracao"
            >Nomeintegracao</label
          >
          <input
            type="text"
            class="form-control"
            name="nomeintegracao"
            id="field_nomeintegracao"
            data-cy="nomeintegracao"
            formControlName="nomeintegracao"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            for="field_servidorondeestainstalado"
            >Servidorondeestainstalado</label
          >
          <input
            type="text"
            class="form-control"
            name="servidorondeestainstalado"
            id="field_servidorondeestainstalado"
            data-cy="servidorondeestainstalado"
            formControlName="servidorondeestainstalado"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_usuario">Usuario</label>
          <input
            type="text"
            class="form-control"
            name="usuario"
            id="field_usuario"
            data-cy="usuario"
            formControlName="usuario"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_senha">Senha</label>
          <input
            type="text"
            class="form-control"
            name="senha"
            id="field_senha"
            data-cy="senha"
            formControlName="senha"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_status">Status</label>
          <input
            type="text"
            class="form-control"
            name="status"
            id="field_status"
            data-cy="status"
            formControlName="status"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dtatualizacao"
            >Dtatualizacao</label
          >
          <div class="input-group">
            <input
              id="field_dtatualizacao"
              data-cy="dtatualizacao"
              type="text"
              class="form-control"
              name="dtatualizacao"
              ngbDatepicker
              #dtatualizacaoDp="ngbDatepicker"
              formControlName="dtatualizacao"
            />
            <span class="input-group-append">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="dtatualizacaoDp.toggle()"
              >
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
