<div>
  <h2 id="page-heading" data-cy="ProfessoresTurmaHeading">
    <span>Professores Turmas</span>

    <div class="d-flex justify-content-end">
      <button
        class="btn btn-info mr-2"
        (click)="loadAll()"
        [disabled]="isLoading"
      >
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-professores-turma"
        [routerLink]="['/professores-turma/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Professores Turma </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div
    class="alert alert-warning"
    id="no-result"
    *ngIf="professoresTurmas?.length === 0"
  >
    <span>No professoresTurmas found</span>
  </div>

  <div
    class="table-responsive"
    id="entities"
    *ngIf="professoresTurmas && professoresTurmas.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Dtatualizacao</span></th>
          <th scope="col"><span>Professores</span></th>
          <th scope="col"><span>Turmas</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let professoresTurma of professoresTurmas; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a
              [routerLink]="['/professores-turma', professoresTurma.id, 'view']"
              >{{ professoresTurma.id }}</a
            >
          </td>
          <td>{{ professoresTurma.dtatualizacao | formatMediumDate }}</td>
          <td>
            <div *ngIf="professoresTurma.professores">
              <a
                [routerLink]="[
                  '/professores',
                  professoresTurma.professores?.id,
                  'view'
                ]"
                >{{ professoresTurma.professores?.id }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="professoresTurma.turmas">
              <a
                [routerLink]="['/turmas', professoresTurma.turmas?.id, 'view']"
                >{{ professoresTurma.turmas?.id }}</a
              >
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="[
                  '/professores-turma',
                  professoresTurma.id,
                  'view'
                ]"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="[
                  '/professores-turma',
                  professoresTurma.id,
                  'edit'
                ]"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(professoresTurma)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
